* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

.container {
  color: #333;
  text-align: center;
}

.congratulationsText {
  font-size: 30px;
  color: red;
}

head {
  margin-top: 150px;
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

/* スピンボタン（上下ボタン）を非表示 */
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* 無入力時の 年/月/日 を / / にする */
input[type=date]::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input[type=date]::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input[type=date]::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

/* /の色を変える */
input[type=date]::-webkit-datetime-edit-text {
  color: #666;
}

/* clearボタンの非表示 */
input[type=date]::-webkit-clear-button {
  -webkit-appearance: none;
}

/* カレンダーのインジケータ（▼）を非表示 */
input[type=date]::-webkit-calendar-picker-indicator {
  color: transparent;
  position: relative;
}

/* fontAwesomeのカレンダーアイコンをインジケータにする */
input[type=date]::-webkit-calendar-picker-indicator:before {
  color: #666;
  font-family: FontAwesome;
  /*content: "\f073";*/
  /* fa-calendar */
  content: "\f133";
  /* fa-calendar-o */
  position: absolute;
  left: -5px;
  /* ここら辺はいい感じの塩梅で */
  top: -5px;
  /* ここも */
}

.bottom-margin {
  margin-bottom: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Merienda');

.background {
  position: absolute;
  /* display: block; */
  top: 0;
  left: 0;
  z-index: 0;
}

/* Default Styling */
body {
  /* font-family: 'Merienda', cursive; */
  /* background: #000; */
}

.container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.box {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: absolute;
  z-index: 1;
}

a {
  color: #0bd;
}
